
img{
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
}

a{
    color:black;
    margin-left: 50px;
}
th{
     border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50;
}
td{
     border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50;

}
ul{
     border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 50;
}
li{
     border-color:blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 50;
}
